#菠萝视频解锁vip无限看，没破解付费（by 黑科技）    下载地址https://aff.polomv.com           api.myb6api.com:8080
^http:\/\/api\.myb6api\.(org|com):8080\/api\.php\/api\/users\/getBaseInfo url script-response-body https://nav.qixinpro.com/rules/QuantumultX/js/blsp.js

hostname=api.myb6api.com:8080
