# 麻豆传媒 版本1.0.6+34    下载https://shrtm.nu/mdsq    麻豆社区解锁全部视频
# 使用方法 ：先进app，在开脚本   ypmnkbb.saejeuj.com, fufxtyc.bytebwq.com, lcbnejx.dirptev.com, gcyivjc.qrneryt.com
^https?:\/\/.*\/api\/app\/media\/m3u8\/.*\.m3u8 url script-request-header https://raw.githubusercontent.com/yqc007/QuantumultX/master/mdsqallcrack.js

hostname=ypmnkbb.saejeuj.com, fufxtyc.bytebwq.com, lcbnejx.dirptev.com, gcyivjc.qrneryt.com
