# > 网易云音乐解锁黑胶会员      *music.163.com, 115.236.121.4, 115.236.118.34, 115.238.119.68, 183.136.182.19
^https?:\/\/.*\/eapi\/(music|s(ong|ingle|earch)|album|link|zone|content|p(laylist|rivilege|laymode|urchased)|r(esni|nca)che|vip(auth|pro|(new)?center)|music-vip-membership).+ url script-request-header https://raw.githubusercontent.com/yqc007/QuantumultX/master/NeteaseMusicVipCrack.js
^https?:\/\/.*\/api\/clientlog\/encrypt\/upload url reject-array
^https?:\/\/.*\/eapi\/ad\/.+ url reject-array

hostname= *music.163.com, 115.236.121.4, 115.236.118.34, 115.238.119.68, 183.136.182.19
