# TopWidgets-小组件+解锁订阅    top-widgets-api.xiaozujian.com
^https:\/\/top-widgets-api\.xiaozujian\.com\/api\/app\/config\/userConfig url script-response-body https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/widgets.js

hostname=top-widgets-api.xiaozujian.com
